<h3>Quotes <i class="far fa-comment"></i></h3>
<div class="section">
	<p class="lead">Manage your quotes database</p>
</div>
<div class="divider"></div>
<div class="section">
	<a href="/auth/google" class="btn red darken-1">
		<i class="fab fa-google left"></i>Log in with Google
	</a>
</div>
